<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Guides to React, Accessibility, Modern CSS, TypeScript", suffix: " · Components.Guide" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/RoyalIcing/tela@2d421cafc1ea99fab91aa4fcbf3b554160bcada5/tela.css"/>

    <%= if @conn.path_info == [] do %>
    <meta property="og:type" content="website">
    <% else %>
    <meta property="og:type" content="article">
    <% end %>

    <meta property="og:title" content="<%= assigns[:page_title] || "Learn accessibility, web standards, testing React & more" %>">
    <%
      stamp_query = case assigns[:page_title] do
        nil ->
          [primary: "Components.Guide", secondary: "Learn accessibility, web standards, testing React & more"]

        title ->
          [primary: "Components.Guide", secondary: title]
      end
      image_url = "https://postage-stamp.collected.workers.dev/1/poster?" <> URI.encode_query(stamp_query)
    %>
    <meta property="og:image" content="<%= image_url %>">
    <meta name="twitter:site" content="@ComponentsGuide">
    <meta name="twitter:card" content="summary_large_image">

    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

    <%= if Mix.env() == :prod do %>
      <script src="https://cdn.usefathom.com/script.js" site="LYHMLVID" defer></script>
    <% end %>
  </head>
  <body>
    <%= render ComponentsGuideWeb.LayoutView, "_banner.html", path_info: @conn.path_info %>

    <%= @inner_content %>

    <%= render ComponentsGuideWeb.LayoutView, "_contentinfo.html" %>

    <!-- Prism syntax highlighting -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/components/prism-core.min.js" integrity="sha512-hqRrGU7ys5tkcqxx5FIZTBb7PkO2o3mU6U5+qB9b55kgMlBUT4J2wPwQfMCxeJW1fC8pBxuatxoH//z0FInhrA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-ROhjG07IRaPZsryG77+MVyx3ZT5q3sGEGENoGItwc9xgvx+dl+s3D8Ob1zPdbl/iKklMKp7uFemLJFDRw0bvig==" crossorigin="anonymous"></script>
    <!--<link href="https://cdn.jsdelivr.net/gh/PrismJS/prism-themes@8a0b50bd5cef0c86154c22b8b17d97348323b343/themes/prism-a11y-dark.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://unpkg.com/prism-theme-night-owl@1.4.0/build/style.css">
    <script>
    //document.querySelectorAll('.post.category-javascript pre code').forEach(el => el.classList.add('language-jsx'));
    window.Prism.highlightAll();
    </script>
  </body>
</html>
