<div class="mx-auto max-w-4xl text-white">
  <h2 y-y x-x=md class="pt-8 row space-x-4 text-4xl text-center font-bold leading-tight text-shadow">
    <span class="mr-1 text-5xl">🧶💝</span>
    <span><%= "Library Cheatsheets" %></span>
  </h2>
  <%= render ComponentsGuideWeb.CheatsheetsView, "_nav.html" %>
</div>
