<footer role="contentinfo" class="container pt-16 pb-6 text-gray-500 border-t border-gray-800 tracking-wide">
  <div class="text-center text-xl text-white" data-links="underline-on-hover">
    Follow <a href="https://twitter.com/ComponentsGuide">@ComponentsGuide</a> on Twitter for the latest articles.
  </div>

  <div class="X pt-8 pb-12">
    <details>
      <summary class="text-xl text-white text-center">Subscribe to the Newsletter</summary>
      <div class="mt-2">
        <%= render ComponentsGuideWeb.IntegrationsView, "convertkit_form.html", [] %>
      </div>
    </details>
  </div>

  <nav aria-label="Links">
    <ul class="list-none text-xs mt-4 leading-loose text-gray-500">
      <li>Copyright © 2022 Patrick Smith
      <li>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons License" style="opacity: 0.5" src="https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-sa.svg" class="inline-block">
        </a>
        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Components.Guide</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://twitter.com/concreteniche" property="cc:attributionName" rel="cc:attributionURL">Patrick Smith</a> is <a href="https://github.com/ComponentsTV/components_guide/blob/master/LICENSE">licensed</a> under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      <li class="inline-block"><a href="https://github.com/ComponentsTV/components_guide">View source on GitHub</a>
      <li class="inline-block"><a href="https://twitter.com/ComponentsGuide">Twitter</a>
      <li class="inline-block"><a href="https://app.usefathom.com/share/lyhmlvid/components.guide">View analytics</a>
    </ul>
  </nav>
</footer>
