<.flash flash={@flash} kind={:info} />
<.flash flash={@flash} kind={:error} />
<.connection_status>
  Re-establishing connection...
</.connection_status>

<main role="main">
  <%= @inner_content %>
</main>
