/* This file is for your main application css. */

@tailwind base;

@tailwind components;

@tailwind utilities;

@import "../node_modules/nprogress/nprogress.css";

html {
    @apply bg-gray-900;
}

[hidden] {
    display: none !important;
}

article a {
    text-decoration: underline;
}
article a:hover {
    text-decoration: underline;
}

.a\{font-bold\} a {
    font-weight: bold;
}

a {
    color: var(--links-color);
    padding: var(--links-padding);
    text-decoration: var(--links-decoration);
}
a:hover {
    text-decoration: var(--hover\:links-decoration);
}

input {
    outline: none;
}

.container {
    @apply max-w-5xl mx-auto px-6;
}

.nums-tabular {
    font-variant-numeric: tabular-nums;
}

.text-shadow {
    text-shadow: 0.0625em 0.0625em 0.125em rgba(0,0,0,0.25);
}

ul:not([class]) {
    list-style: disc;
    padding-left: 1em;
}
ul:not([class]) > li > ul:not([class]) {
    @apply pl-8;
}

/* Navigation links */
a[aria-current=page][class*="hover\:border-"] {
    border-color: currentColor;
}

[phx-hook=SwatchInput] {
   user-select: none;
   cursor: default;
}

/* @import "./phoenix.css"; */
