/* This file is for your main application css. */

@tailwind base;

@tailwind components;

@tailwind utilities;

@import "../node_modules/nprogress/nprogress.css";

:root {
  @apply bg-gray-900;

  --link-color: currentColor;

  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 4rem;
}

[hidden] {
  display: none !important;
}

article a:not(nav *) {
  text-decoration: underline;
}
article a:hover {
  text-decoration: underline;
}
article figcaption {
  font-style: italic;
}

.a\{font-bold\} a {
  font-weight: bold;
}

a {
  color: var(--link-color);
  padding: var(--link-padding);
  text-decoration: var(--link-decoration);
}
a:hover {
  text-decoration: var(--hover\: links-decoration);
}

h1,
h2,
h3,
p,
li,
table,
blockquote {
  margin-left: var(--item-spacing-left);
  margin-right: var(--item-spacing-right);
}
table {
  width: calc(100% - var(--item-spacing-left) - var(--item-spacing-right));
}
h1 {
  font-size: var(--heading-1-size);
  padding: var(--heading-1-spacing);
  text-align: var(--heading-1-align);
}
h2 {
  font-size: var(--heading-2-size);
  padding: var(--heading-2-spacing);
}
h3 {
  font-size: var(--heading-3-size);
  padding: var(--heading-3-spacing);
}
p {
  padding: var(--paragraph-spacing);
}
li {
  padding: var(--listitem-spacing);
}
table {
  margin: var(--table-spacing);
  margin-left: var(--item-spacing-left);
  margin-right: var(--item-spacing-right);
}
:not(pre) > code {
  padding: var(--code-spacing);
  border-radius: var(--code-radius);
}
blockquote {
  --link-decoration: underline;
  margin: var(--blockquote-spacing-outer);
  padding: var(--blockquote-spacing-inner);
  font-style: var(--blockquote-font-style);
  background: var(--blockquote-background);
}
hr {
  margin: var(--separator-spacing);
  color: var(--separator-color);
}

input {
  outline: none;
}

:not(pre) > code,
pre {
  color: white;
  background-color: #011627;
}

.content {
  --item-spacing-left: 1rem;
  --item-spacing-right: 1rem;
  --heading-1-size: var(--size-5xl);
  --heading-1-spacing: var(--size-base) 0;
  --heading-1-align: center;
  --heading-2-size: var(--size-3xl);
  --heading-2-spacing: var(--size-base) 0;
  --heading-3-size: var(--size-2xl);
  --heading-3-spacing: var(--size-base) 0;
  --paragraph-spacing: 0.5rem 0;
  --listitem-spacing: 0.5rem 0;
  --table-spacing: var(--size-xl) 0;
  --code-spacing: 0 0.1875em;
  --code-radius: 0.125em;
  --blockquote-spacing-outer: 1rem 0rem;
  --blockquote-spacing-inner: 1rem;
  --blockquote-font-style: italic;
  --blockquote-background: rgba(255, 255, 255, 0.1);
  --separator-spacing: var(--size-5xl) 0;
  --separator-color: currentColor;
}

.row {
  @apply flex justify-center items-center;
}

.container {
  @apply max-w-5xl mx-auto px-6;
}

.nums-tabular {
  font-variant-numeric: tabular-nums;
}

.text-shadow {
  text-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.25);
}

ul:not([class]) {
  list-style: disc;
  padding-left: 1em;
}
ul:not([class]) > li > ul:not([class]) {
  @apply pl-8;
}

ol:not([class]) {
  list-style: decimal;
  padding-left: 1em;
}

/* Navigation links */
a[aria-current="page"][class*="hover\:border-"] {
  border-color: currentColor;
}

[phx-hook="SwatchInput"] {
  user-select: none;
  cursor: default;
}

/* @import "./phoenix.css"; */

.formkit-form {
  box-shadow: none !important;
  border: 2px solid #f4f4f4;
  border-color: #6d1fde;
  border-color: #462899;
  border-bottom-color: #13074e;
}
