@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./tela.css";

:root {
  --link--display: initial;
  --link--padding-x: 0;
  --link--padding-y: 0;
  --link--color: var(--theme-primary, currentColor);
  --link--decoration: none;
  --link--decoration--hover: initial;
  
  --z-menu: 50;
}

a:not([class]):not(.prose *) {
  display: var(--link--display);
  padding-left: var(--link--padding-x);
  padding-right: var(--link--padding-x);
  padding-top: var(--link--padding-y);
  padding-bottom: var(--link--padding-y);
  color: var(--link--color);
  font-weight: var(--link--font-weight);
  text-decoration: var(--link--decoration);
}
a:hover:not([class]):not(.prose *) {
  text-decoration: var(--link--decoration--hover);
  background-color: var(--link--bg--hover);
}

/*nav a:only-of-type {
  --link--padding-x: 0.5rem;
  --link--padding-y: 0.5rem;
}*/

[data-links~='current-color'] {
  --link--color: currentColor;
}
[data-links~='current-page-bold'] a[aria-current="page"] {
  --link--font-weight: bold;
}
[data-links~='block'] {
  --link--display: block;
}
[data-links~='underline'] {
  --link--decoration: underline;
}
[data-links~='no-underline'] {
  --link--decoration: none;
}
[data-links~='underline-on-hover'] {
  --link--decoration: none;
  --link--decoration--hover: underline;
}
[data-links~='p-1'] {
  --link--padding-x: 0.25rem;
  --link--padding-y: 0.25rem;
}
[data-links~='p-2'] {
  --link--padding-x: 0.5rem;
  --link--padding-y: 0.5rem;
}
[data-links~='p-3'] {
  --link--padding-x: 0.75rem;
  --link--padding-y: 0.75rem;
}

/*[data-measure] {
  max-width: 44rem;
}
[data-measure~='center'] {
  margin-left: auto;
  margin-right: auto;
}*/

:root {
  @apply bg-gray-900;

  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 4rem;
}

[hidden] {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

article a:hover {
  --link--decoration--hover: underline;
}
article figcaption {
  font-style: italic;
}

.a\{font-bold\} a {
  font-weight: bold;
}

nav {
  --link--decoration--hover: underline;
}

h1,
h2,
h3,
h4,
p,
li,
figure,
table,
blockquote {
  margin-left: var(--item-spacing-left);
  margin-right: var(--item-spacing-right);
}
table {
  width: calc(100% - var(--item-spacing-left) - var(--item-spacing-right));
}
h1 {
  font-size: var(--heading-1-size);
  line-height: 1.2;
  padding: var(--heading-1-spacing);
  text-align: var(--heading-1-align);
}
h2 {
  font-size: var(--heading-2-size);
  line-height: 1.2;
  padding: var(--heading-2-spacing);
}
h3 {
  font-size: var(--heading-3-size);
  line-height: 1.2;
  padding: var(--heading-3-spacing);
}
h4 {
  font-size: var(--heading-4-size);
  line-height: 1.2;
  padding: var(--heading-4-spacing);
}
p {
  padding: var(--paragraph-spacing);
}
p:empty {
  display: none;
}
li {
  padding: var(--listitem-spacing);
}
figure {
  padding: var(--figure-spacing);
}
figcaption {
  padding: var(--figcaption-spacing);
}
table {
  margin: var(--table-spacing);
  margin-left: var(--item-spacing-left);
  margin-right: var(--item-spacing-right);
}
:not(pre) > code {
  padding: var(--code-spacing);
  border-radius: var(--code-radius);
}
blockquote {
  --link--decoration: underline;
  margin: var(--blockquote-spacing-outer);
  padding: var(--blockquote-spacing-inner);
  font-style: var(--blockquote-font-style);
  background: var(--blockquote-background);
}
hr {
  margin: var(--separator-spacing);
  border-color: var(--separator-color);
  opacity: var(--separator-opacity);
}

input {
  outline: none;
}

:not(pre) > code,
pre {
  color: white;
  background-color: #011627;
}
code[class*="language-"], pre[class*="language-"] {
  overflow-wrap: break-word !important;
  white-space: pre-wrap !important;
}
pre[class*="language-"] {
  font-size: 87.5%;
}

.content {
  --item-spacing-left: 1rem;
  --item-spacing-right: 1rem;
  --heading-1-size: var(--size-5xl);
  --heading-1-spacing: var(--size-base) 0;
  --heading-1-align: center;
  --heading-2-size: var(--size-4xl);
  --heading-2-spacing: var(--size-base) 0;
  --heading-3-size: var(--size-3xl);
  --heading-3-spacing: var(--size-base) 0;
  --heading-4-size: var(--size-2xl);
  --heading-4-spacing: var(--size-base) 0;
  --paragraph-spacing: 0.5rem 0;
  --listitem-spacing: 0.5rem 0;
  --figure-spacing: 1rem 0;
  --figcaption-spacing: 0.5rem 0 0;
  --table-spacing: var(--size-xl) 0;
  --code-spacing: 0 0.1875em;
  --code-radius: 0.125em;
  --blockquote-spacing-outer: 1rem 0rem;
  --blockquote-spacing-inner: 1rem;
  --blockquote-font-style: italic;
  --blockquote-background: rgba(255, 255, 255, 0.1);
  --separator-spacing: var(--size-5xl) 0;
  --separator-color: currentColor;
  --separator-opacity: 0.333;
}

output {
  --separator-spacing: 0;
  --separator-opacity: 1;
}

.row {
  @apply flex justify-center items-center;
}

.container {
  @apply max-w-5xl mx-auto px-6;
}

.nums-tabular {
  font-variant-numeric: tabular-nums;
}

.text-shadow {
  text-shadow: 0.0625em 0.0625em 0.125em rgba(0, 0, 0, 0.25);
}

ul:not([class]) {
  list-style: disc;
  padding-left: 1em;
}
ul:not([class]) > li > ul:not([class]) {
  @apply pl-8;
}

ol:not([class]) {
  list-style: decimal;
  padding-left: 1em;
}

/* GitHub Elements */

/* https://github.com/github/details-menu-element */
summary[aria-haspopup="menu"] {
  display: list-item;
  list-style: none;
}
summary[aria-haspopup="menu"]:before, summary[aria-haspopup="menu"]::-webkit-details-marker {
  display: none; 
}
/* Makes menu buttons take over the entire viewport when open, allowing easy taps */
details[open] summary[aria-haspopup="menu"]:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: calc(var(--z-menu) - 1);
  display: block;
  cursor: default;
  content: " ";
  background: rgba(0,0,0,0.5);
}

/* Navigation links */
a[aria-current="page"][class*="hover\:border-"] {
  border-color: currentColor;
}

[phx-hook="SwatchInput"] {
  user-select: none;
  cursor: default;
}

.formkit-form {
  box-shadow: none !important;
  border: 2px solid #f4f4f4;
  border-color: #6d1fde;
  border-color: #462899;
  border-bottom-color: #13074e;
}
