<h1>Edit Text</h1>

<.simple_form :let={f} for={@changeset} method="put" action={~p"/text/#{@text}"}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:content]} type="text" label="Content" />
  <:actions>
    <.button>Save Text</.button>
  </:actions>
</.simple_form>

<span><%= link "Back", to: Routes.text_path(@conn, :index) %></span>
