<nav class="pt-6 pb-4">
  <ul y-y x-x=md class="text-lg font-bold text-shadow" data-links="p-3">
    <li><%= link("What goes wrong?", to: '/robust-javascript') %>
    <li><%= link("Idempotency", to: '/robust-javascript/idempotent-javascript-operations') %>
  </ul>
</nav>
