<%
  theme = %Theme{text_color: "blue"}
  [h2, h3, h4] = Theme.headings(theme)
%>
<%= render view_module(@conn), "_header.html" %>

<div class="text-base lg:text-lg flex items-stretch bg-gray-900">
  <nav class="w-48 lg:w-64 bg-gray-800 border-r border-gray-700 text-white">
    <ul class="sticky top-0 p-4 pt-8 pl-6 list-none leading-loose">
      <li><%= link "Link", to: "#link" %>
      <li><%= link "Button", to: "#button" %>
      <li><%= link "Checkbox", to: "#checkbox" %>
      <li><%= link "Textbox", to: "#textbox" %>
      <li><%= link "Radio", to: "#radio" %>
      <li><%= link "Range", to: "#range" %>
      <li><%= link "Tabs", to: "#tabs" %>
      <li><%= link "Modal Dialog", to: "#dialog" %>
      <li role=separator>
      <li><%= link("List of roles 🔗", to: "https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques") %>
      <li><%= link("Queries 🔗", to: "https://testing-library.com/docs/dom-testing-library/api-queries") %>
      <li><%= link("Matchers 🔗", to: "https://github.com/testing-library/jest-dom") %>
    </ul>
  </nav>
  <div class="mx-auto flex-shrink">
    <section aria-labelledby="primary-heading" class="prose md:prose-lg prose-invert max-w-xl lg:max-w-4xl px-4 pt-16 pb-16 text-white">
      <h1 id="primary-heading">Accessible Widgets Cheatsheet</h1>

      <article>
        <%= h2.("Link", id: "link") %>

        <%=
        """
        getByRole('link', { name: 'About' });
        """ |> code_block(:js)
        %>
        <%=
        """
        <a href="/about">About</a>
        """ |> code_block(:html)
        %>
      </article>

      <hr>

      <article>
        <%= h2.("Button", id: "button") %>
        <%=
        [
          """
          const saveButton = getByRole('button', { name: 'Save' });
          """ |> code_block(:js),
          "<button>Save</button>" |> code_block(:html)
        ]
        %>

        <%= h3.("It is focused", []) %>
        <%=
        [
          """
          expect(saveButton).toHaveFocus();
          """ |> code_block(:js)
        ]
        %>

        <%= h3.("It changes text to ‘Saving’", []) %>
        <%=
        [
          "expect(saveButton).toHaveTextContent('Saving');" |> code_block(:js),
          "<button>Saving</button>" |> code_block(:html)
        ]
        %>

        <%= h3.("When save is clicked", []) %>
        <%=
        [
          """
          beforeEach(() => {
            userEvent.click(saveButton);
          });
          """ |> code_block(:js)
        ]
        %>
      </article>

      <hr>

      <article>
        <%= h2.("Checkbox", id: "checkbox") %>

        <%=
        [
          """
          const rememberMe = getByRole('checkbox', { name: 'Remember me' });
          """ |> code_block(:js),
          """
          <label>
            <input type="checkbox">
            Remember me
          </label>
          """ |> code_block(:html)
        ]
        %>

        <%= h3.("It is checked", []) %>
        <%=
        [
          """
          expect(rememberMe).toBeChecked();
          """ |> code_block(:js),
          """
          <label><input type="checkbox">Remember me</label>
          """ |> code_block(:html)
        ]
        %>
      </article>

      <hr>

      <article>
        <%= h2.("Textbox", id: "textbox") %>

        <%= h3.("It has Bio text field", []) %>
        <%=
        """
        getByLabelText('Bio');
        """ |> code_block(:js)
        %>
        <%=
        """
        <label>
          Bio
          <input>
        </label>
        """ |> code_block(:html)
        %>

        <%= h3.("It has Bio text field", []) %>
        <%=
        [
          """
          getByLabelText('Bio');
          """ |> code_block(:js),
          """
          <label>
            Bio
            <textarea></textarea>
          </label>
          """ |> code_block(:html)
        ]
        %>

        <%= h3.("It is valid", []) %>
        <%=
        """
        expect(getByLabelText('Bio')).toBeValid();
        """ |> code_block(:js)
        %>
        <%=
        """
        <label>
          Bio
          <input aria-invalid="false">
        </label>
        """ |> code_block(:html)
        %>

        <%= h3.("It is invalid", []) %>
        <%=
        """
        expect(getByLabelText('Bio')).toBeInvalid();
        """ |> code_block(:js)
        %>
        <%=
        """
        <label>
          Bio
          <input aria-invalid="true">
        </label>
        """ |> code_block(:html)
        %>

        <%= h3.("When ‘Painter’ is typed", []) %>
        <%=
        [
          """
          beforeEach(() => {
            userEvent.type(getByLabelText('Bio'), 'Painter');
          });
          """ |> code_block(:js)
        ]
        %>
      </article>

      <hr>

      <article>
        <%= h2.("Radio", id: "radio") %>

        <%= h3.("It is checked", []) %>
        <%=
        [
          """
          expect(getByRole('radio', { name: 'Blue' })).toBeChecked();
          """ |> code_block(:js),
          """
          <label><input type="radio">Purple</label>
          <label><input type="radio" checked>Blue</label>
          <label><input type="radio">Orange</label>
          """ |> code_block(:html)
        ]
        %>
      </article>

      <hr>

      <article>
        <%= h2.("Combobox", id: "combobox") %>

        <%= h3.("Coming soon", []) %>
      </article>

      <hr>

      <article>
        <%= h2.("Tabs", id: "tabs") %>

        <%= h3.("Coming soon", []) %>
      </article>

      <hr>

      <article>
        <%= h2.("Modal Dialog", id: "dialog") %>

        <%= h3.("Coming soon", []) %>
      </article>

    </section>
  </div>
</div>
