<%= render @view_module, "_header.html" %>

<article>
  <div class="text-white bg-gray-900">
    <div class="content max-w-4xl mx-auto py-8 text-xl">
      <%= render(@view_module, @article <> ".html", conn: @conn) %>
    </div>
  </div>
</article>
