<%= render view_module(@conn), "_header.html" %>

<article>
  <div class="text-white bg-gray-900">
    <div class="prose md:prose-xl prose-invert max-w-4xl mx-auto py-16">
      <%= render(view_module(@conn), @article <> ".html", assigns) %>
    </div>
  </div>
</article>
