<p>
  Various cheatsheets will be added over time. If you have ideas for cheatsheets, please submit them.
</p>

<h2>Elixir</h2>
<h3>Add numbers</h3>
<.code_block lang="elixir">
  5 + 11
</.code_block>
<.code_block lang="elixir" code={(5 + 11) |> inspect()} />

<hr />

<h2>WebAssembly + Wasmtime running via Rust</h2>
<.code_block lang="wasm" code={@wasm_source} />
<.code_block lang="elixir" code={OrbWasmtime.Wasm.call(@wasm_source, "answer") |> inspect()} />
