<nav>
  <ul>
    <li><%= link "All Text", to: Routes.text_path(@conn, :index) %></li>
  </ul>
</nav>

<h1>Show Text</h1>
<span><%= link "Edit", to: Routes.text_path(@conn, :edit, @text) %></span>

<div class="vue-editor"><%= @text.content %></div>

<h3>Formats</h3>
<ul>
  <li><%= link "text/plain", to: Routes.text_path(@conn, :show_text_format, @text, "plain") %></li>
  <li><%= link "text/css", to: Routes.text_path(@conn, :show_text_format, @text, "css") %></li>
</ul>
