<header class="text-white">
  <section class="container px-6 pt-12 pb-12">
    <h2 class="mx-auto max-w-4xl text-5xl text-center font-bold leading-tight text-shadow">
      <%= "Research 🔍 specs and implementations" %>
    </h2>
    <form role=search action="/research" class="flex h-full pt-8 px-2 items-center">
      <input type=text name=q placeholder="Search" class="w-full py-1 px-3 text-3xl bg-white text-black rounded" value="<%= @query %>">
    </form>
    <ul class="list-none flex pt-4 text-xl italic" style="--links-padding: 0.75em">
      <li><%= link("form", to: "?q=form") %>
      <li><%= link("button", to: "?q=button") %>
      <li><%= link("dialog", to: "?q=dialog") %>
      <li><%= link("contentinfo", to: "?q=contentinfo") %>
      <li><%= link("transition", to: "?q=transition") %>
      <li><%= link("react-dom", to: "?q=react-dom") %>
      <li><%= link("preact", to: "?q=preact") %>
      <li><%= link("error", to: "?q=error") %>
    </ul>
  </section>
</header>

<div class="bg-white py-16">
  <div class="container px-6">
    <%= @results %>
  </div>
</div>
