<article class="p-4 sm:p-8 text-white">
  <wasm-simple-html class="block">
    <source src="/wasm/module/color_lab_swatch.wasm" type="application/wasm" />
    <%= raw(@initial_html) %>
  </wasm-simple-html>

  <p class="mt-4">WebAssembly module size: <%= Format.humanize_bytes(@wasm_size) %></p>
</article>
