<div class="text-white bg-purple-600" style2="background: linear-gradient(-60deg, rgba(206,60,0,1) 0%, rgba(255,0,147,1) 50%, rgba(255,187,50,1) 100%);">
  <section class="container px-6 pt-12 pb-12">
    <h1 class="mx-auto max-w-4xl text-5xl text-center font-bold leading-tight text-shadow">
      <%= "Links to Articles, Talks & Courses" %>
    </h1>
    <div class="mt-8 px-4 text-center">
      <input class="mb-4 md:mr-2 block w-full md:inline-block md:w-2/5 p-2 text-2xl leading-tight text-black rounded-lg md:mb-0 border-4 border-white focus:border-purple-300">
      <a href="/signin/github" class="inline-block px-6 py-3 text-2xl leading-tight font-bold text-white bg-gray-900 rounded-lg">
            <%= "Suggest Link" %>
          </a>
    </div>
  </section>
</div>

<div class="bg-white">
  <section class="container pt-8 text-2xl italic text-purple-600">
    <p>Coming soon: Fave the links you recommend. Create playlists and share with others.</p>
  </section>

  <section class="container pt-8 pb-16 text-2xl">
    <%= article class: "text-orange-700" do %>
      <h2 class="text-4xl leading-normal font-bold text-orange-800 border-b-4 border-orange-200">SwiftUI</h2>

      <h3 class="mt-4 mb-2 text-2xl leading-normal italic">WWDC 2019</h3>
      <ul class="list-disc nums-tabular">
        <li><%= link "204: Introducing SwiftUI: Building Your First App", to: "https://developer.apple.com/videos/play/wwdc2019/204/" %></li>
        <li><%= link "216: SwiftUI Essentials", to: "https://developer.apple.com/videos/play/wwdc2019/216/" %></li>
        <li><%= link "226: Data Flow Through SwiftUI", to: "https://developer.apple.com/videos/play/wwdc2019/226/" %></li>
        <li><%= link "231: Integrating SwiftUI", to: "https://developer.apple.com/videos/play/wwdc2019/231/" %></li>
        <li><%= link "238: Accessibility in SwiftUI", to: "https://developer.apple.com/videos/play/wwdc2019/238/" %></li>
        <li><%= link "237: Building Custom Views with SwiftUI", to: "https://developer.apple.com/videos/play/wwdc2019/237/" %></li>
        <li><%= link "240: SwiftUI On All Devices", to: "https://developer.apple.com/videos/play/wwdc2019/240/" %></li>
        <li><%= link "219: SwiftUI on watchOS", to: "https://developer.apple.com/videos/play/wwdc2019/219/" %></li>
        <li><%= link "233: Mastering Xcode Previews", to: "https://developer.apple.com/videos/play/wwdc2019/219/" %></li>
      </ul>

      <h3 class="mt-6 mb-2 text-2xl leading-normal italic">Handy references</h3>
      <ul class="list-disc">
        <li><%= link "Thinking in SwiftUI by Chris Eidhof & Florian Kugler", to: "https://www.objc.io/books/thinking-in-swiftui/" %></li>
        <li><%= link "Gosh Darn SwiftUI: a curated list of questions and answers about SwiftUI", to: "https://goshdarnswiftui.com/" %></li>
        <li><%= link "About SwiftUI: Gathering all info published, both by Apple and by others, about new framework SwiftUI", to: "https://github.com/Juanpe/About-SwiftUI" %></li>
        <li><%= link "SwiftUI by Example: free quick start tutorials for Swift developers", to: "https://www.hackingwithswift.com/quick-start/swiftui" %></li>
        <li><%= link "SwiftUI Hub", to: "https://swiftuihub.com/" %></li>
      </ul>
    <% end %>

    <%= article class: "text-red-700" do %>
      <h2 class="text-4xl leading-normal font-bold text-red-800 border-b-4 border-red-200">Combine</h2>
      
      <h3 class="mt-4 mb-2 text-2xl leading-normal italic">WWDC 2019</h3>
      <%= list [
        link(span("415: Modern Swift API Design", [:nums_tabular]), to: "https://developer.apple.com/videos/play/wwdc2019/415/"),
        link(span("722: Introducing Combine", [:nums_tabular]), to: "https://developer.apple.com/videos/play/wwdc2019/722/"),
        link(span("721: Combine in Practice", [:nums_tabular]), to: "https://developer.apple.com/videos/play/wwdc2019/721/"),
        link(span("712: Advances in Networking, Part 1", [:nums_tabular]), to: "https://developer.apple.com/videos/play/wwdc2019/712/"),
        link(span("Understanding Combine by Matt Neuberg", []), to: "https://www.apeth.com/UnderstandingCombine/toc.html"),
      ] %>

      <h3 class="mt-6 mb-2 text-2xl leading-normal italic">Articles</h3>
      <%= list [
        link("22 short tests of Combine – Part 1: Protocols", to: "https://www.cocoawithlove.com/blog/twenty-two-short-tests-of-combine-part-1.html"),
        link("22 short tests of Combine – Part 2: Sharing", to: "https://www.cocoawithlove.com/blog/twenty-two-short-tests-of-combine-part-2.html"),
        link("22 short tests of Combine – Part 3: Asynchrony", to: "https://www.cocoawithlove.com/blog/twenty-two-short-tests-of-combine-part-3.html"),
      ] %>

      <h3 class="mt-6 mb-2 text-2xl leading-normal italic">Tools and libraries for Combine</h3>
      <%= list [
        {
          link("Joe Heck’s in-depth notes", to: "https://heckj.github.io/swiftui-notes/"),
          [
            link("Tests for Publishers & Subscribers", to: "https://github.com/heckj/swiftui-notes/tree/master/UsingCombineTests")
          ]
        },
        link("RxSwift to Combine cheat sheet", to: "https://github.com/freak4pc/rxswift-to-combine-cheatsheet"),
        link("Entwine: Testing tools and utilities", to: "https://github.com/tcldr/Entwine"),
      ] %>

    <% end %>

    <%= article class: "text-blue-700" do %>
      <h2 class="text-4xl leading-normal font-bold text-blue-800 border-b-4 border-blue-200">React</h2>
      
      <h3 class="mt-4 mb-2 text-2xl leading-normal italic">Overreacted by Dan Abramov</h3>
      <ul class="list-disc">
        <li><%= link "The Elements of UI Engineering", to: "https://overreacted.io/the-elements-of-ui-engineering/" %></li>
        <li><%= link "Writing Resilient Components", to: "https://overreacted.io/writing-resilient-components/" %></li>
        <li><%= link "Making setInterval Declarative with React Hooks", to: "https://overreacted.io/making-setinterval-declarative-with-react-hooks/" %></li>
        <li><%= link "React as a UI Runtime", to: "https://overreacted.io/react-as-a-ui-runtime/" %></li>
      </ul>

      <h3 class="mt-6 mb-2 text-2xl leading-normal italic">Official Docs</h3>
      <ul class="list-disc">
        <li><%= link "Thinking in React", to: "https://reactjs.org/docs/thinking-in-react.html" %></li>
        <li><%= link "Introducing Hooks", to: "https://reactjs.org/docs/hooks-intro.html" %></li>
        <li><%= link "Hooks API Reference", to: "https://reactjs.org/docs/hooks-reference.html" %></li>
        <li><%= link "Hooks FAQ", to: "https://reactjs.org/docs/hooks-faq.html" %></li>
        <li><%= link "Context", to: "https://reactjs.org/docs/context.html" %></li>
        <li><%= link "Forms", to: "https://reactjs.org/docs/forms.html" %></li>
        <li><%= link "Accessibility", to: "https://reactjs.org/docs/accessibility.html" %></li>
        <li><%= link "Error Boundaries", to: "https://reactjs.org/docs/error-boundaries.html" %></li>
        <li><%= link "Uncontrolled Components", to: "https://reactjs.org/docs/uncontrolled-components.html" %></li>
        <li><%= link "Reconciliation", to: "https://reactjs.org/docs/reconciliation.html" %></li>
      </ul>
    <% end %>

    <%= article class: "text-pink-700" do %>
      <h2 class="text-4xl leading-normal font-bold text-pink-800 border-b-4 border-pink-200">RxJS</h2>

      <h3 class="mt-6 mb-2 text-2xl leading-normal italic">Official Docs</h3>
      <ul class="list-disc">
        <li><%= link "Overview", to: "https://rxjs.dev/guide/overview" %></li>
        <li><%= link "API Reference", to: "https://rxjs.dev/api" %></li>
        <li><%= link "Marble Testing", to: "https://rxjs.dev/guide/testing/marble-testing" %></li>
      </ul>

      <h3 class="mt-6 mb-2 text-2xl leading-normal italic">Handy references</h3>
      <ul class="list-disc">
        <li><%= link "The introduction to Reactive Programming you've been missing", to: "https://gist.github.com/staltz/868e7e9bc2a7b8c1f754" %></li>
        <li><%= link "Introduction to Reactive Programming Videos", to: "https://egghead.io/courses/introduction-to-reactive-programming" %></li>
        <li><%= link "Rx Visualizer", to: "https://rxviz.com/" %></li>
        <li><%= link "Thinking reactive with the SIP principle", to: "https://blog.strongbrew.io/the-sip-principle/" %></li>
        <li><%= link "LearnRxJS.io", to: "https://www.learnrxjs.io/" %></li>
      </ul>
    <% end %>

    <%= article class: "text-indigo-700" do %>
      <h2 class="text-4xl leading-normal font-bold text-indigo-800 border-b-4 border-indigo-200">TypeScript</h2>

      <h3 class="mt-6 mb-2 text-2xl leading-normal italic">Handy references</h3>
      <ul class="list-disc">
        <li><%= link "TypeScript in 5 minutes", to: "https://www.typescriptlang.org/docs/handbook/typescript-in-5-minutes.html" %></li>
        <li><%= link "The TypeScript Handbook", to: "https://www.typescriptlang.org/docs/handbook/basic-types.html" %></li>
        <li><%= link "TypeScript Deep Dive", to: "https://basarat.gitbooks.io/typescript/" %></li>
      </ul>
    <% end %>
  </section>
</div>
