<%
  heading = "Research 🔍 specs and implementations"
  heading = "Search across Can I Use, BundlePhobia, RFCs, W3 & WhatWG specs"
%>

<%= render view_module(@conn), "_header.html", query: @query %>

<div class="text-white bg-gray-900 py-8">
  <div class="container">
    <div class="px-6">
      <%= @results %>
    </div>
  </div>
</div>
