<%= render view_module(@conn), "_header.html", query: @query %>

<div class="text-white bg-gray-900 py-8">
  <div class="container">
    <div class="px-6">
      <include-fragment src="/research?q=<%= @query %>&results=1">
        <div>
          Loading…
          <loading-stopwatch class="inline-flex opacity-25"></loading-stopwatch>
        </div>
      </include-fragment>
    </div>
  </div>
</div>
