<nav class="pt-6 pb-4">
  <ul y-y x-x=md class="text-lg font-bold text-shadow" style="--link-padding: 0.75em">
    <li><%= link("Why?", to: '/web-standards') %>
    <li><%= link("URL", to: '/web-standards/url') %>
    <li><%= link("HTML", to: '/web-standards/html') %>
    <li><%= link("Promise", to: '/web-standards/promise') %>
    <li><%= link("HTTP Caching", to: '/web-standards/http-caching') %>
  </ul>
</nav>
