<%= render view_module(@conn), "_header.html" %>

<article>
  <div class="text-white bg-gray-900">
    <div class="content max-w-4xl mx-auto py-8 text-xl" style="--link-decoration: underline;">
      <%= render(view_module(@conn), @article <> ".html", conn: @conn) %>
    </div>
  </div>
</article>
