<nav class="pt-6 pb-4">
  <ul y-y x-x=md class="text-lg font-bold" style="--link-padding: 0.75em">
    <li><%= link("Why?", to: '/composable-systems') %>
    <li><%= link("Opinionated vs Flexible", to: '/composable-systems/opinionated-vs-flexible') %>
    <li><%= link("Single Responsibility", to: '/composable-systems/roles') %>
    <li><%= link("Deterministic", to: '/composable-systems/roles') %>
  </ul>
</nav>
