<div class="mx-auto max-w-4xl">
  <h1 y-y x-x=md class="pt-8 row space-x-4 text-4xl text-center font-bold leading-tight">
    <span class="mr-2 text-4xl">🖇🍀</span>
    <span><%= "Composable Systems" %></span>
  </h1>
  <%= render ComponentsGuideWeb.ComposableSystemsView, "_nav.html" %>
</div>
