<%
  theme = %Theme{text_color: "blue"}
%>
<header class="text-white" style="background: <%= header_background %>;">
  <section class="container px-6 pt-6 pb-6">
    <h1 class="mx-auto max-w-4xl text-4xl text-center font-bold leading-tight text-shadow">
      <%= "Widgets Cheatsheet" %>
    </h1>
    <p class="mt-4 mx-auto max-w-3xl text-3xl text-center leading-snug italic text-yellow-100 text-shadow">
      <%= "UI roles and their pre-written tests." %>
    </p>
  </section>
</header>

<div class="flex items-stretch bg-white">
  <nav class="w-64 p-4 pl-6 text-xl bg-gray-100 border-r border-gray-200">
    <ul class="fixed list-none leading-loose">
      <li><%= link "Link", to: "#link" %>
      <li><%= link "Button", to: "#button" %>
      <li><%= link "Checkbox", to: "#checkbox" %>
      <li><%= link "Radio", to: "#radio" %>
      <li><%= link "Tab", to: "#tab" %>
      <li><%= link("List of roles 🔗", to: "https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques") %>
    </ul>
  </nav>
  <div class="ml-64">
    <section aria-label="Roles Cheatsheet" class="px-4 pt-8 pb-16 text-xl">
      <article>
        <%= theme |> Theme.h2("Link", id: "link") %>

        <%=
        """
        getByRole('link', { name: 'About' });
        """ |> code_block(:js)
        %>
        <%=
        """
        <a href="/about">About</a>
        """ |> code_block(:html)
        %>
      </article>

      <article>
        <h2 id="button" class="mb-2 text-4xl leading-normal text-teal-800">Button</h2>
        <%=
        """
        getByRole('button', { name: 'Click me' });
        """ |> code_block(:js)
        %>
        <%=
        """
        <button>Click me</button>
        """ |> code_block(:html)
        %>
      </article>

      <article>
        <h2 id="checkbox" class="mb-2 text-4xl leading-normal text-teal-800">Checkbox</h2>
        <%=
        """
        getByRole('checkbox', { name: 'Remember me' });

        const rememberMe = getByRole('checkbox', { name: 'Remember me' });
        expect(rememberMe).toBeChecked();
        """ |> code_block(:js)
        %>

        <h3>HTML example</h3>
        <%=
        """
        <label><input type="checkbox">Remember me</label>
        """ |> code_block(:html)
        %>
      </article>

      <article>
        <%= theme |> Theme.h2("Textbox", id: "textbox") %>

        <h3>It has Bio text field</h3>
        <%=
        """
        getByLabelText('Bio');
        """ |> code_block(:js)
        %>
        <%=
        """
        <label>Bio<input></label>
        """ |> code_block(:html)
        %>

        <h3>It has Bio text field</h3>
        <%=
        """
        getByLabelText('Bio');
        """ |> code_block(:js)
        %>
        <%=
        """
        <label>Bio<textarea></textarea></label>
        """ |> code_block(:html)
        %>

        <h3>It is valid</h3>
        <%=
        """
        expect(getByLabelText('Bio')).toBeValid();
        """ |> code_block(:js)
        %>
        <%=
        """
        <label>Bio<textarea aria-invalid=false></textarea></label>
        """ |> code_block(:html)
        %>

        <h3>It is invalid</h3>
        <%=
        """
        expect(getByLabelText('Bio')).toBeInvalid();
        """ |> code_block(:js)
        %>
        <%=
        """
        <label>Bio<textarea aria-invalid=true></textarea></label>
        """ |> code_block(:html)
        %>
      </article>

      <article>
        <h2 id="radio" class="mb-2 text-4xl leading-normal text-teal-800">Radio</h2>
        <%=
        """
        getByRole('radio', { name: 'Blue' });
        """ |> code_block(:js)
        %>
        <%=
        """
        <label><input type="radio">Purple</label>
        <label><input type="radio">Blue</label>
        <label><input type="radio">Orange</label>
        """ |> code_block(:html)
        %>
      </article>

    </section>
  </div>
</div>